<!DOCTYPE html>
<html>
<html ng-app="lineupApp"> 
<head>
  <meta charset="utf-8">
  <title>Lineup3</title>

	 

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "angular" %>
  <%#= javascript_include_tag "angular" %>
  <!-- <link rel='stylesheet' href='fullcalendar/fullcalendar.css' /> -->
<!-- <script src='fullCalendar.js'></script> -->
<!-- <script src='jquery.min.js'></script> -->

 
 
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |key, value| %>
		<div class="alert-success alert-dismissible">
			<%= value %>
		</div>
	<% end %>

<!-- <div id='calendar'></div> -->
<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>



<!-- <script src='lib/moment.min.js'></script> -->
<!-- <script src='fullcalendar/fullcalendar.js'></script> -->
<script>
// $(document).ready(function() {
  $('#calendar').fullCalendar({
  	events: '/haircuts.json',
  	type: "GET",
  	error: function() {
  		alert("Calendar data encountered an error");
  	}
  });
</script>
	

</body>
</html>



